In [41]:
#creating libraries
import pandas as pd
import sqlite3

In [42]:
#creating data frame
df=pd.read_csv(r'C:\Users\asus\UC\SQL Test (1).csv')# parse_dates='BDATE_FINAL')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668125 entries, 0 to 668124
Data columns (total 4 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CUSTOMER_REQUEST_ID    668125 non-null  object
 1   USER_ID                668125 non-null  object
 2   RESPONDED_PRO_BOOKING  668125 non-null  object
 3   BDATE_FINAL            668125 non-null  object
dtypes: object(4)
memory usage: 20.4+ MB

In [43]:
df.BDATE_FINAL=pd.to_datetime(df.BDATE_FINAL)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668125 entries, 0 to 668124
Data columns (total 4 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   CUSTOMER_REQUEST_ID    668125 non-null  object
 1   USER_ID                668125 non-null  object
 2   RESPONDED_PRO_BOOKING  668125 non-null  object
 3   BDATE_FINAL            668125 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(3)
memory usage: 20.4+ MB

In [44]:
# creating a connection
cnn=sqlite3.connect('jupyter_sql_tutorial.db')

In [46]:
df.to_sql('UC_1',cnn)

In [47]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [48]:
%sql sqlite:///jupyter_sql_tutorial.db

In [49]:
%%sql

SELECT COUNT( CUSTOMER_REQUEST_ID) FROM UC

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(668125,)]

In [58]:
%%sql

SELECT count( RESPONDED_PRO_BOOKING) FROM UC_1
group by STRFTIME('%m',BDATE_FINAL)

 * sqlite:///jupyter_sql_tutorial.db
Done.

[(25271,),
 (33985,),
 (24860,),
 (1,),
 (9490,),
 (44208,),
 (90388,),
 (137805,),
 (142810,),
 (159307,)]

In [60]:
%%sql

SELECT distinct STRFTIME('%m',BDATE_FINAL) FROM UC_1
order by STRFTIME('%m',BDATE_FINAL)

 * sqlite:///jupyter_sql_tutorial.db
Done.

[('01',),
 ('02',),
 ('03',),
 ('04',),
 ('05',),
 ('06',),
 ('07',),
 ('08',),
 ('09',),
 ('10',)]